.root-singup-container {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.singup-container {
  width: 400px;
  background-color: #fff;
  color: #000;
  padding: 1.5rem 3rem;
}

.singup-text {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.singup-button {
  min-width: 100%;
  font-size: 1.2rem;
  border: none;
  min-height: 2.5rem;
  border-radius: 0.8rem;
  font-weight: 500;
  margin-top: 1rem;
}

.singup-button:hover {
  background-color: gray;
  color: #fff;
}
