.nav-right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
