.root-forgot-password-container {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forgot-password-container {
  width: 400px;
  background-color: #fff;
  color: #000;
  padding: 1.5rem 3rem;
}

.forgot-password-text {
  font-weight: 500;
  margin-bottom: 1.5rem;
}
